## __author__ = 'niraj kumar'
## disallow files/folders in same directory as the .gitignore file

# Allowed
!paron/src

# Not allowed
paron/node_modules
!react-app/src
react-app/node_modules
react-app/dist
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
